# Exclude the .next/ directory used for Next.js SSR
.next/

# Exclude the .vscode/ directory for VSCode settings
.vscode/

# Exclude the node_modules/ directory with installed dependencies
node_modules/